{{#if tentacleVisible}}
  <div class='tentacle'>
    <img src="https://eviltrout.com/images/tentacle.gif">
  </div>
{{/if}}

<div class='buttons'>
  {{d-button label="thread_banner.show" action="showTentacle" icon="eye"}}
</div>
